/*------------------------------
    Header Area
------------------------------*/

.header-area {
    .header-slider {
        .single-header-item {
            position: relative;
            z-index: 0;
            padding-top: 185px;
            padding-bottom: 190px;
            overflow: hidden;
            &:after {
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(21, 21, 37, .50);
                content: '';
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            &.slider-bg-1 {
                background-image: url(../img/bg/header-bg.jpg);
                background-size: cover;
                background-position: center;
            }
            &.slider-bg-2 {
                background-image: url(../img/bg/header-bg-1.jpg);
                background-size: cover;
                background-position: center;
            }
        }
    }
    &:hover {
        .header-slider .owl-nav div{
            opacity: 1;
        }
    }
    .header-slider .owl-nav div {
        position: absolute;
        left: -30px;
        top: 50%;
        height: 60px;
        width: 60px;
        font-size: 16px;
        color: $white;
        background-color: $base-color;
        border-radius: 50%;
        line-height: 60px;
        padding-left: 35px;
        @include translateY(-50%);
        @include transition($transition);
        opacity: 0;
    }
    .header-slider .owl-nav div.owl-next {
        left: auto;
        right: -30px;
        padding-left: 15px;
    }
    .single-header-item {
        .subtitle {
            font-size: 30px;
            line-height: 38px;
            color: #eaeaea;
            margin-bottom: 15px;
            display: inline-block;
        }
        h1 {
            color: $white;
            font-size: 80px;
            line-height: 90px;
            font-weight: 800;
            margin-bottom: 45px;
        }
        .btn-wrapper {
            .boxed-btn {
                margin: 0 10px;
                border: 2px solid transparent;
                &:hover {
                    background-color: transparent;
                    border: 2px solid $white;
                }
                &.blank {
                    color: $white;
                    border-color: $white;
                    &:hover {
                        border-color: $base-color;
                        background-color: $base-color;
                    }
                }
            }
        }
    }
}