/*----------------------
    Airlines Page
------------------------*/

.airlines-page-content-area {
    padding: 120px 0 80px 0;
    .single-airlines-item {
        text-align: center;
        margin-bottom: 35px;
        .content {
            padding: 25px 30px 0 30px;
            .title {
                font-size: 26px;
                line-height: 36px;
                font-weight: 700;
                color: #151525;
                margin-bottom: 18px;
            }
            p {
                font-size: 14px;
                line-height: 24px;
                color: #7c7c90;
            }
            .read-more-link {
                font-size: 14px;
                font-weight: 700;
                color: $base-color;
                @include transition($transition);
                display: inline-block;
                &:hover {
                    @include transform(scale(1.1));
                }
            }
        }
    }
}