/*---------------------------
** Global Scss
---------------------------*/

.remove-col-padding {
    padding: 0;
}

.remove-col-padding-right {
    padding-right: 0;
}

.remove-col-padding-left {
    padding-left: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-left: 0;
}

//== padding classes 
.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-top-100 {
    padding-top: 100px;
}

//== margin classes 
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-100 {
    margin-top: 100px;
}

//= margin bottom
.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-bottom-70 {
    margin-bottom: 70px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-90 {
    margin-bottom: 90px;
}

.margin-top-100 {
    margin-bottom: 100px;
}

.margin-top-120 {
    margin-top: 120px;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.section-subtitle {
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    color: $base-color;
    font-weight: 700;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
    background-color: $base-color;
    background-image: none;
    color: $white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .4rem;
    padding-left: 0.4rem;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: $base-color;
    color: $white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    i {
        @include rotate(-45);
    }
}

.boxed-btn {
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    width: 200px;
    background-color: $black-color;
    padding: 0 20px;
    @include transition($transition);
    &:hover {
        color: $white;
        background-color: $secondary-color;
    }
    &.btn-rounded {
        border-radius: 30px;
    }
    &.blank {
        background-color: transparent;
        border: 2px solid $base-color;
        color: $base-color;
        &:hover {
            background-color: $base-color;
            color: $white;
        }
    }
}

.section-title {
    h2 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 15px;
    }
    p {
        color: #b1b1c1;
        line-height: 24px;
        font-size: 14px;
        max-width: 70%;
        margin: 0 auto;
    }
    margin-bottom: 77px;
}

.c-white {
    color: $white;
}

.c-red {
    color: $base-color;
}

.bg-red {
    background-color: $base-color;
}

.c-green {
    color: #00cf92;
}

.submit-btn {
    width: 250px;
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    color: $white;
    text-transform: uppercase;
    background-color: $base-color;
    border: none;
    @include transition($transition);
    cursor: pointer;
    &:hover {
        background-color: $secondary-color;
    }
    &.btn-rounded {
        border-radius: 30px;
    }
    &.btn-center {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }
    &:focus{
        outline: none;
    }
}

.section-title-inner {
    text-align: center;
    .subtitle {
        font-size: 18px;
        line-height: 28px;
        text-transform: uppercase;
        font-weight: 700;
        color: $base-color;
        margin-bottom: 20px;
        display: block;
    }
    .title {
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
    }
    margin-bottom: 45px
}

.form-element {
    &.margin-bottom-30 {
        margin-bottom: 27px;
    }
    label {
        color: $heading-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 32px;
        span {
            color: #BE1F27;
        }
    }
    select {
        @include selectArrow(none);
    }
}

.has-icon {
    position: relative;
    display: block;
    &.textarea {
        .the-icon {
            top: 25px;
        }
    }
    .input-field {
        @include selectArrow(none);
    }
    .the-icon {
        font-size: 14px;
        position: absolute;
        right: 30px;
        top: 50%;
        @include translateY(-50%);
        color: #7c7c90;
    }
}

.input-field {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-radius: 5px;
    color: #7c7c90;
    @include placeholder-color(#7c7c90);
    &.borderd {
        border: 2px solid rgba(0, 0, 0, 0.10);
        &:focus {
            border: 2px solid rgba(0, 0, 0, 0.10);
        }
    }
    &.textarea {
        min-height: 120px;
        padding: 20px 30px;
        resize: none;
    }
    &.error {
        border: 2px solid $base-color;
        @include placeholder-color($base-color);
        &:focus {
            border-color: $base-color;
        }
    }
}
.blog-details-content .single-blog-post .details-container .post-body .post-bottom-content .bottom-content .right-content .title {
    display: none;
}
.email-success {
    display: block;
    width: 100%;
}

.checkbox-element {
    display: inline-block;
}

.checkbox-wrapper {
    display: inline-block;
}

.checkbox-inner {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    color: #585869;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 12px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, 0.10);
    }
    input:checked~.checkmark {
        background-color: transparent;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    input:checked~.checkmark:after {
        display: block;
    }
    .checkmark:after {
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid $base-color;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate( 45deg);
    }
}
.table-responsive {
    display: table;
}
/*---------------------
    Breadcumb Area
----------------------*/

.breadcumb-area {
    position: relative;
    z-index: 0;
    text-align: center;
    padding: 180px 0 185px 0;
    .title {
        color: $white;
        font-size: 60px;
        line-height: 75px;
    }
    p {
        color: #e3e3eb;
        font-size: 14px;
        line-height: 24px;
        max-width: 530px;
        margin: 0 auto;
    }
    &.service-breadcumb-bg {
        background-image: url(../img/bg/service-breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &.flight-schedule-breadcumb-bg {
        background-image: url(../img/bg/flight-schedule-breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &.book-flight-breadcumb-bg {
        background-image: url(../img/bg/book-flight-breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &.destination-breadcumb-bg {
        background-image: url(../img/bg/destination-breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &.crews-breadcumb-bg {
        background-image: url(../img/bg/crews-breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &.airline-breadcumb-bg {
        background-image: url(../img/bg/airline-breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &.profile-breadcumb-bg {
        background-image: url(../img/bg/profile-breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &.contact-breadcumb-bg {
        background-image: url(../img/bg/contact-breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &.breadcumb-bg {
        background-image: url(../img/bg/breadcumb-bg.jpg);
        background-size: cover;
        background-position: center;
    }
    &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(21, 21, 37, .50);
        z-index: -1;
    }
}

/*-------------------------
    Preloader Css
---------------------------*/

.preloader-inner {
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.preloader-body {
    position: absolute;
    top: 50%;
    margin-left: -50px;
    left: 50%;
    animation: speeder .4s linear infinite;
}

.preloader-body>span {
    height: 5px;
    width: 35px;
    background: $base-color;
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
}

.base span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid $base-color;
    border-bottom: 6px solid transparent;
}

.base span:before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: $base-color;
    position: absolute;
    right: -110px;
    top: -16px;
}

.base span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 55px solid $base-color;
    border-bottom: 16px solid transparent;
    top: -16px;
    right: -98px;
}

.face {
    position: absolute;
    height: 12px;
    width: 20px;
    background: $base-color;
    border-radius: 20px 20px 0 0;
    transform: rotate(-40deg);
    right: -125px;
    top: -15px;
}

.face:after {
    content: "";
    height: 12px;
    width: 12px;
    background: $base-color;
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
}

.preloader-body>span>span:nth-child(1),
.preloader-body>span>span:nth-child(2),
.preloader-body>span>span:nth-child(3),
.preloader-body>span>span:nth-child(4) {
    width: 30px;
    height: 1px;
    background: $base-color;
    position: absolute;
    animation: fazer1 .2s linear infinite;
}

.preloader-body>span>span:nth-child(2) {
    top: 3px;
    animation: fazer2 .4s linear infinite;
}

.preloader-body>span>span:nth-child(3) {
    top: 1px;
    animation: fazer3 .4s linear infinite;
    animation-delay: -1s;
}

.preloader-body>span>span:nth-child(4) {
    top: 4px;
    animation: fazer4 1s linear infinite;
    animation-delay: -1s;
}

@keyframes fazer1 {
    0% {
        left: 0;
    }
    100% {
        left: -80px;
        opacity: 0;
    }
}

@keyframes fazer2 {
    0% {
        left: 0;
    }
    100% {
        left: -100px;
        opacity: 0;
    }
}

@keyframes fazer3 {
    0% {
        left: 0;
    }
    100% {
        left: -50px;
        opacity: 0;
    }
}

@keyframes fazer4 {
    0% {
        left: 0;
    }
    100% {
        left: -150px;
        opacity: 0;
    }
}

@keyframes speeder {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -3px) rotate(-1deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 3px) rotate(-1deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-2px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.longfazers {
    position: absolute;
    width: 100%;
    height: 100%;
}

.longfazers span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: #000;
}

.longfazers span:nth-child(1) {
    top: 20%;
    animation: lf .6s linear infinite;
    animation-delay: -5s;
}

.longfazers span:nth-child(2) {
    top: 40%;
    animation: lf2 .8s linear infinite;
    animation-delay: -1s;
}

.longfazers span:nth-child(3) {
    top: 60%;
    animation: lf3 .6s linear infinite;
}

.longfazers span:nth-child(4) {
    top: 80%;
    animation: lf4 .5s linear infinite;
    animation-delay: -3s;
}

@keyframes lf {
    0% {
        left: 200%;
    }
    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes lf2 {
    0% {
        left: 200%;
    }
    100% {
        left: -200%;
        opacity: 0;
    }
}

@keyframes lf3 {
    0% {
        left: 200%;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}

@keyframes lf4 {
    0% {
        left: 200%;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}


//  style new

.inner-page-style {
    box-shadow: 0px 8px 30px 0px rgba(139, 139, 139, 0.2);
    border-radius: 5px;
    // margin-top: -433px;
    background-color: $white;
    padding: 15px;
}

.interior-area-bottom {
    .interior-bottom-inner {
        background-color: $white;
            margin-top: -120px;
            border-radius: 5px;
            box-shadow: 0 8px 30px 0px rgba(0, 0, 0, 0.10);
            padding: 60px 50px 10px 50px;

            .single-interior-box {
                position: relative;
                margin-bottom: 42px;
                &:hover{
                    .content{
                        h4{
                            color: $base-color;
                        }
                    }
                }   
                .content {
                    // padding-left: 70px;
                    // padding-top: 70px;
                    h4 {
                        color: #151525;
                        font-size: 26px;
                        line-height: 36px;
                        font-weight: 700;
                    }
                    p {
                        font-size: 14px;
                        line-height: 26px;
                        color: #7c7c90;
                        @include transition($transition);
                    }
                }
            }
    }
}